.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flex {
  flex-grow: 1;
}

.current-day{
  width: 20%;
  margin:auto;
  text-align: center;
}

.item {
  padding: 0.5rem 2rem;
  display: flex;
  font-size: larger;
  flex-grow: 1;
}

.search-bar {
  margin-top: 1rem;
  flex-grow: 1;
}

.text-field {
  height: 42;
}

.daily {
  width: auto;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: larger;
}
